# Entorno virtual
.venv/
venv/
env/

# Bytecode y cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Datos generados localmente
data/outputs/
data/datasets/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Streamlit
.streamlit/secrets.toml
